<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image1124.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{11,10}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,45},{11,10}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>image1126.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,2},{55,50}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{55,50}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>image1128.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{61,54}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{61,54}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>image1130.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{67,58}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{67,58}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>image1132.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{69,60}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{69,60}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>image1134.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,62},{73,62}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{73,62}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>image1136.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,62},{75,66}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{75,66}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>image1138.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{77,70}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{77,70}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>image1140.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,130},{79,74}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{79,74}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>image1142.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,130},{79,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{79,76}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>image1144.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{81,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{81,78}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>image1146.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,208},{81,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{81,80}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>image1148.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,208},{79,80}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{79,80}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>image1150.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{65,62}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{65,62}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>image1152.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,290},{55,50}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{55,50}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,290},{33,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,10}}</string>
                <key>sourceSize</key>
                <string>{33,12}</string>
            </dict>
            <key>r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,290},{31,10}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,10}}</string>
                <key>sourceSize</key>
                <string>{33,12}</string>
            </dict>
            <key>r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,290},{29,10}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{29,10}}</string>
                <key>sourceSize</key>
                <string>{33,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explode.png</string>
            <key>size</key>
            <string>{249,354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5746aaff31d08d38bdc8fb747392c8d1$</string>
            <key>textureFileName</key>
            <string>explode.png</string>
        </dict>
    </dict>
</plist>
