<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,314}}</string>
                <key>offset</key>
                <string>{-31,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,136},{400,314}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{400,314}}</string>
                <key>offset</key>
                <string>{-31,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,136},{400,314}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{402,312}}</string>
                <key>offset</key>
                <string>{-31,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,138},{402,312}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,2},{402,312}}</string>
                <key>offset</key>
                <string>{-31,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,138},{402,312}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,2},{402,312}}</string>
                <key>offset</key>
                <string>{-31,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,138},{402,312}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2018,2},{402,312}}</string>
                <key>offset</key>
                <string>{-31,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,138},{402,312}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2422,2},{402,312}}</string>
                <key>offset</key>
                <string>{-31,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,138},{402,312}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2826,2},{400,312}}</string>
                <key>offset</key>
                <string>{-31,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,138},{400,312}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3228,2},{430,428}}</string>
                <key>offset</key>
                <string>{-35,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{430,428}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{3660,2},{430,428}}</string>
                <key>offset</key>
                <string>{-35,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{430,428}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{430,436}}</string>
                <key>offset</key>
                <string>{-35,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{430,436}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,432},{430,442}}</string>
                <key>offset</key>
                <string>{-35,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{430,442}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,432},{432,438}}</string>
                <key>offset</key>
                <string>{-34,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{432,438}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,432},{432,436}}</string>
                <key>offset</key>
                <string>{-34,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{432,436}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,432},{432,432}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{432,432}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2168,432},{432,428}}</string>
                <key>offset</key>
                <string>{-34,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{432,428}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2602,432},{400,314}}</string>
                <key>offset</key>
                <string>{-31,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,136},{400,314}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{3004,432},{386,304}}</string>
                <key>offset</key>
                <string>{-37,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,136},{386,304}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{3392,432},{354,290}}</string>
                <key>offset</key>
                <string>{-53,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,132},{354,290}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{3748,432},{338,280}}</string>
                <key>offset</key>
                <string>{-60,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,121},{338,280}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{340,290}}</string>
                <key>offset</key>
                <string>{-66,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,106},{340,290}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,876},{346,306}}</string>
                <key>offset</key>
                <string>{-69,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,88},{346,306}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,876},{350,320}}</string>
                <key>offset</key>
                <string>{-75,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{350,320}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,876},{348,330}}</string>
                <key>offset</key>
                <string>{-76,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{348,330}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,876},{344,314}}</string>
                <key>offset</key>
                <string>{-73,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,78},{344,314}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,876},{350,322}}</string>
                <key>offset</key>
                <string>{-75,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,71},{350,322}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2092,876},{350,338}}</string>
                <key>offset</key>
                <string>{-75,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{350,338}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2444,876},{354,358}}</string>
                <key>offset</key>
                <string>{-73,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{354,358}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2800,876},{386,340}}</string>
                <key>offset</key>
                <string>{-57,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{386,340}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{3188,876},{430,390}}</string>
                <key>offset</key>
                <string>{-35,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,45},{430,390}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{3620,876},{432,398}}</string>
                <key>offset</key>
                <string>{-34,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{432,398}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1276},{430,428}}</string>
                <key>offset</key>
                <string>{-35,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{430,428}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spider.pvr.ccz</string>
            <key>size</key>
            <string>{4092,1706}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1f7c0a973d345ef75e6a5999e9ea487$</string>
            <key>textureFileName</key>
            <string>spider.pvr.ccz</string>
        </dict>
    </dict>
</plist>
