<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>test001.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,2},{269,230}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,57},{269,230}}</string>
                <key>sourceSize</key>
                <string>{285,300}</string>
            </dict>
            <key>test002.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{269,224}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,56},{269,224}}</string>
                <key>sourceSize</key>
                <string>{285,300}</string>
            </dict>
            <key>test003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{263,222}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,54},{263,222}}</string>
                <key>sourceSize</key>
                <string>{285,300}</string>
            </dict>
            <key>test004.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{259,222}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,56},{259,222}}</string>
                <key>sourceSize</key>
                <string>{285,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>test.png</string>
            <key>size</key>
            <string>{1070,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60aa79e62f5a72c922ba023b72725325$</string>
            <key>textureFileName</key>
            <string>test.png</string>
        </dict>
    </dict>
</plist>
